.caja1{
    background-color: cyan;
    height: 50px;
    width: 2;
    border: solid 2px black;
}
.caja2{
    background-color: lightblue;
    height: 50px;
    width: 2;
    border: solid 2px black;
}
.caja3{
    background-color: lightcoral;
    height: 50px;
    width: 2;
    border: solid 2px black;
}
.caja4{
    background-color: lightgray;
    height: 50px;
    width: 2;
    border: solid 2px black;
}
.caja5{
    background-color: lightgreen;
    height: 50px;
    width: 2;
    border: solid 2px black;
}
.caja6{
    background-color: lightgrey;
    height: 50px;
    width: 2;
    border: solid 2px black;
}
.caja7{
    background-color: lightgoldenrodyellow;
    height: 50px;
    width: 2;
    border: solid 2px black;
}
.caja8{
    background-color: lightseagreen;
    height: 50px;
    width: 2;
    border: solid 2px black;
}
.caja9{
    background-color: lightsalmon;
    height: 250px;
    border: solid 2px black;

}
.caja10{
    background-color: lightblue;
    height: 250px;
    border: solid 2px black;

}
.caja11{
    background-color: yellow;
    height: 250px;
    border: solid 2px black;

}
.caja12{
    background-color: red;
    height: 250px;
    border: solid 2px black;

}
.caja13{
    background-color: greenyellow;
    height: 250px;
    border: solid 2px black;

}
.caja14{
    background-color: peru;
    height: 250px;
    border: solid 2px black;

}
.caja15{
    background-color: blue;
    height: 250px;
    border: solid 2px black;

}
.caja16{
    background-color: orange;
    height: 250px;
    border: solid 2px black;

}
.caja17{
    background-color: yellow;
    height: 250px;
    border: solid 2px black;

}
.caja18{
    background-color: green;
    height: 250px;
    border: solid 2px black;

}
.caja19{
    background-color: lightyellow;
    height: 250px;
    border: solid 2px black;

}
.caja20{
    background-color: red;
    height: 250px;
    border: solid 2px black;

}
.caja21{
    background-color: lightblue;
    height: 250px;
    border: solid 2px black;

}
.caja22{
    background-color: yellow;
    height: 250px;
    border: solid 2px black;

}
.caja23{
    background-color: lightblue;
    height: 250px;
    border: solid 2px black;

}
.caja24{
    background-color: lightcoral;
    height: 250px;
    border: solid 2px black;

}
.caja25{
    background-color: lightcyan;
    height: 250px;
    border: solid 2px black;

}
.caja26{
    background-color: lightgoldenrodyellow;
    height: 250px;
    border: solid 2px black;

}
.caja27{
    background-color: lightgray;
    height: 250px;
    border: solid 2px black;

}
.caja28{
    background-color: lightgreen;
    height: 250px;
    border: solid 2px black;

}
.caja29{
    background-color: lightgrey;
    height: 250px;
    border: solid 2px black;

}
.caja30{
    background-color: lightpink;
    height: 250px;
    border: solid 2px black;

}
.caja31{
    background-color: lightsalmon;
    height: 250px;
    border: solid 2px black;

}
.caja32{
    background-color: lightskyblue;
    height: 250px;
    border: solid 2px black;

}
.caja33{
    background-color: darkgoldenrod;
    height: 250px;
    border: solid 2px black;

}


.boton1{
    text-align: center;
}
.boton2{
    text-align: center;
}
.boton3{
    text-align: center;
}
.boton4{
    text-align: center;
}
.boton5{
    text-align: center;
}
.boton6{
    text-align: center;
}
.boton7{
    text-align: center;
}
.boton{
    text-align: center;
}